.landing {}

.hero {
  position: relative;
  height: 70vh;
}

.hero img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: top;
}

.heroContent {
  padding: 0 3rem;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 41, 109, 0.624);
  text-align: center;
}

.heroContent h2 {
  color: var(--color-background);
  font-size: 2.5rem;
}

.about {
  margin: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--color-background);
}

.about h2{
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.about img {
  object-position: top;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 1rem;
}

.recruitment {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--color-background);
  align-items: center;
}


.recruitment img {
  object-position: top;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 1rem;
}

.about img {
  object-position: top;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 1rem;
}

.recruitment a {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: var(--color-background);
  text-decoration: none;
  border-radius: 6px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.recruitment a:hover {
  background-color: var(--color-primary-dark);
}