.header {
  padding: 1rem 5rem;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.iconContainer {
  height: 100%;
  width: 200px;
}

.logo {
  height: 100%;
  width: auto;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  font-size: 1rem;
  font-weight: 600;
}

.links a:hover {
  color: var(--color-primary);
}


/* Tablet */
@media (max-width: 768px) {
  .header{
    padding: 1rem 0 0 0;
    width: 100%;
    gap: 2rem;
    height: auto;
    flex-direction: column;
  }
  .links{
    width: 100%;
    background-color: var(--color-primary);
        padding: 1rem;
  }
  .links a{
        color: var(--color-background);
  }
}

